*.egg
*.egg-info
*.mo
*.py[cod]
*.so
*.sqlite3
/.cache
/.eggs
.coverage
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
/venv*
__pycache__
_priv
bin
build
develop-eggs
dist
eggs
htmlcov
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
