*.egg
*.egg-info
*.mo
*.py[cod]
*.so
.coverage
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
__pycache__
_priv
bin
build
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
*.sqlite3
/venv*
